@using Abp.MiniBlog
@using Abp.MiniBlog.Web.Views.Shared.Components.RightSideBar
@using Abp.MiniBlog.Web.Views.Shared.Components.SideBarNav
@using Abp.MiniBlog.Web.Views.Shared.Components.SideBarUserArea
@model Abp.MiniBlog.Web.Views.Shared.Components.LeftSideBar.LeftSideBarViewModel
@if (Model.Show)
{
    <section>
        <aside id="leftsidebar" class="sidebar">

            @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
            @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })

            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; @DateTime.Now.Year <a href="javascript:void(0);">MiniBlog</a>.
                </div>
                <div class="version">
                    <b>@L("Version") </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
                </div>
            </div>
            <!-- #Footer -->
        </aside>

        @await Component.InvokeAsync(typeof(RightSideBarViewComponent))

    </section>
}
